@page "{id:int}"
@model TechSkillConnect.Pages.Admin.Learners.EditModel

@{
    ViewData["Title"] = "Edit Learner";
}

<h1>Edit Learner</h1>

<h4>Learner Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Learner.LearnerID" />

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Learner.Learner_firstname" class="control-label"></label>
                <input asp-for="Learner.Learner_firstname" class="form-control" required />
                <span asp-validation-for="Learner.Learner_firstname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Learner.Learner_lastname" class="control-label"></label>
                <input asp-for="Learner.Learner_lastname" class="form-control" required />
                <span asp-validation-for="Learner.Learner_lastname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Learner.LearnerEmail" class="control-label"></label>
                <input asp-for="Learner.LearnerEmail" class="form-control" type="email" required />
                <span asp-validation-for="Learner.LearnerEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Learner.CountryOfBirth" class="control-label"></label>
                <input asp-for="Learner.CountryOfBirth" class="form-control" required />
                <span asp-validation-for="Learner.CountryOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Learner.Learner_registration_date" class="control-label"></label>
                <input asp-for="Learner.Learner_registration_date" class="form-control" readonly />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
