@page "{id:int}"
@model TechSkillConnect.Pages.Admin.TutorProfiles.EditModel

@{
    ViewData["Title"] = "Tutor Profile Edit";
}

<h1>Tutor Profile Edit</h1>

<h4>TutorProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TutorProfile.ProfileID" />
            <div class="form-group">
                <label asp-for="TutorProfile.TutorID" class="control-label"></label>
                <select asp-for="TutorProfile.TutorID" class="form-control" asp-items="ViewBag.TutorID"></select>
                <span asp-validation-for="TutorProfile.TutorID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TutorProfile.Language" class="control-label"></label>
                <input asp-for="TutorProfile.Language" class="form-control" />
                <span asp-validation-for="TutorProfile.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorProfile.YearsOfExperience" class="control-label"></label>
                <input asp-for="TutorProfile.YearsOfExperience" class="form-control" />
                <span asp-validation-for="TutorProfile.YearsOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorProfile.SkillLevel" class="control-label"></label>
                <input asp-for="TutorProfile.SkillLevel" class="form-control" />
                <span asp-validation-for="TutorProfile.SkillLevel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TutorProfile.Certificate" class="control-label"></label>
                <input asp-for="TutorProfile.Certificate" class="form-control" />
                <span asp-validation-for="TutorProfile.Certificate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TutorProfile.FeePerSession" class="control-label"></label>
                <input asp-for="TutorProfile.FeePerSession" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="TutorProfile.FeePerSession" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TutorProfile.SelfIntro" class="control-label"></label>
                <textarea asp-for="TutorProfile.SelfIntro" class="form-control"></textarea>
                <span asp-validation-for="TutorProfile.SelfIntro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TutorProfile.SelfHeadline" class="control-label"></label>
                <input asp-for="TutorProfile.SelfHeadline" class="form-control" />
                <span asp-validation-for="TutorProfile.SelfHeadline" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
